# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#folders
.idea/
.vscode/
build/
cmake-build-debug/

#json
mincov_filled_out*.json
mincov_out*.json
matriz_incidencia_.json
matriz_incidencia_*_*.json

#images
*.png
*.dot